<meta charset="utf-8">

<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">



<%== meta_data_tags %>


<%= stylesheet_link_tag 'shop1/reset.css', 'shop1/text.css', 'shop1/960.css' %>
<%= stylesheet_link_tag 'shop1/reset.css', 'shop1/global.css', 'shop1/style.css','shop1/pagination','shop1/vertical_menu', 'shop1/screen', 'bootstrap' %>
<%= csrf_meta_tag %>

<%= javascript_include_tag 'store/all' %>
<%= javascript_include_tag 'shop1/scripts', 'shop1/jquery.hoverIntent.minified','shop1/jquery.dcverticalmegamenu.1.3' %>


<title><%= site_title %></title>


<script type="text/javascript">
    // JQUERY VERTICAL MEGA MENU PLUGIN
    // http://www.designchemical.com/lab/jquery-vertical-mega-menu-plugin/getting-started/
    // note - if menu don't parent menu then menu will error
    $(document).ready(function($){
        $('#mega-1').dcVerticalMegaMenu({
            rowItems: '3',
            speed: 'fast',
            effect: 'slide',
            direction: 'right'
        });
    });
</script>




<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<%= yield :head %>
