<%
   paginated_products = @searcher.products if params.key?(:keywords)
   paginated_products ||= products
%>

<div id="content">
  <%= render "spree/theme/#{@current_store.code}/sidebar_left" %>
  <%= render "spree/theme/#{@current_store.code}/banner" %>
</div>
<div id="content">


  <%= render "spree/theme/shop1/best_seller" %>

  <div class="content_box2">
    <img width="176" height="38" src="/assets/shop1/latest-products.png" class="space_bottom_top">
    <img width="691" height="1" src="/assets/shop1/line-latest-products.png" class="space_bottom_top2">
  <% if products.empty? %>
      <%= t(:no_products_found) %>
  <% elsif params.key?(:keywords) %>
      <h3><%= t(:search_results, :keywords => h(params[:keywords])) %></h3>
  <% end %>

  <% if products.any? %>

      <% products.each do |product| %>
          <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
              <div class="box<%= cycle("2","3","2") %>">

                <%= link_to product_image(product, :size => "180x200"), product %>
                <p class="product-desc"> <%= link_to product.name, product %> </p>
                <p class="text_product"><%= number_to_currency product.price %>
                  <%= link_to "Add To Cart", product, :class => "btn btn-primary" %>

                </p>
              </div>
          <% end %>

      <% end %>
  <% end %>


  <%= paginate(paginated_products) %>
</div>
</div>




