<h2>Listing Purchase Order</h2>

<table class="index" style="width:100%;" data-hook="admin_shipment_form_inventory_units">
  <tr>
    <th width="200px;"><%= "#{t('spree.date')}/#{t('spree.time')}" %></th>
    <th width="200px;"><%= "PDF" %></th>
    <th width="200px;"><%= "EXCEL" %></th>
    <th></th>
  </tr>
  <% @files.each do |file| %>
      <tr>
        <td><%= file.updated_at.to_s(:date_time24) if file.created_at %></td>
        <td><%= link_to_with_icon "pdf", "#{file.name}", "/files/purchases/#{file.name}.pdf" %></td>
        <td><%= link_to_with_icon "xls", "#{file.name}", "/files/purchases/#{file.name}.xls" %></td>
        <td></td>
      </tr>
  <% end %>
</table>

<%#= will_paginate(@files, :previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;") %>