<div class='toolbar order-links'>
  <%= button_link_to t(:new_refund), new_admin_purchase_order_refund_url(@purchase_order), :icon => 'add', :id => 'admin_refund' %>
</div>

<%= render :partial => 'spree/admin/shared/purchase_order_tabs', :locals => {:current => 'Refund Details'} %>

<h2><%= t(:listing_refunds) %></h2>

<table class="index" id="listing_refunds" data-hook>
  <thead>
  <tr data-hook="admin_refunds_index_headers">

    <th><%=  t(:created_at) %></th>

    <th><%= t(:number, :scope => 'activerecord.attributes.spree/order') %></th>

    <th><%=  t(:state, :scope => 'activerecord.attributes.spree/order') %></th>

    <th data-hook="admin_purchase_orders_index_header_actions"></th>
  </tr>
  </thead>
  <tbody>
  <% @refunds.each do |refund| %>
      <tr data-hook="admin_purchase_orders_index_rows">
        <td><%= (refund.created_at).to_s(:date_time24) %></td>
        <td><%= link_to refund.number, edit_admin_purchase_order_refund_path(@purchase_order, refund) %></td>

        <td><%= t("purchase_order_state.#{refund.state.downcase}") %></td>

        <td class='actions' data-hook="admin_purchase_orders_index_row_actions">
          <%= link_to_edit_url edit_admin_purchase_order_refund_path(@purchase_order, refund), :title => "admin_edit_#{dom_id(refund)}" %>
          <%= link_to_delete refund, :url => "" %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
