<%= render :partial => 'spree/shared/error_messages', :locals => {:target => @refund_product} %>


<table class="index" style="width:100%;" data-hook="admin_shipment_form_inventory_units">
  <tr data-hook="shipments_header">
    <th style="width:20px;"></th>
    <th><%= t(:season) %></th>
    <th><%= t(:team) %></th>
    <th><%= t(:type) %></th>
    <th><%= t(:name) %></th>
    <th><%= t(:number) %></th>
    <th><%= t(:size) %></th>
    <th><%= t(:patch) %></th>
    <th><%= t(:sleeve) %></th>

  </tr>



  <% @inventory_units.each do |unit| %>
      <tr data-hook="shipments_row">
        <td style="text-align:center;width:20px;">
          <%= check_box_tag "units[#{unit.id}]",
                            :true,
                            :class => 'inventory_unit' %>


        </td>

        <td style="vertical-align:top; width:80px;"><%= unit.season %></td>
        <td style="vertical-align:top; width:140px;"><%= unit.team %></td>
        <td style="vertical-align:top; width:50px;"><%= unit.shirt_type %></td>
        <td style="vertical-align:top; width:50px;"><%= unit.name %></td>
        <td style="vertical-align:top; width:50px;"><%= unit.number %></td>
        <td style="vertical-align:top; width:50px;"><%= unit.size %></td>
        <td style="vertical-align:top; width:140px;"><%= unit.patch %></td>
        <td style="vertical-align:top; width:50px;"><%= unit.sleeve %></td>

        <td style="vertical-align:top; width:40px;">
          <%= unit.quantity.to_i %>
        </td>
        <td><%= number_to_currency unit.line_item.price, :base_locale => unit.order.base_currency %></td>
      </tr>
  <% end %>
</table>





