<h2><%= t(:listing_refund_products) %></h2>

<table class="index" id="listing_refund_products" data-hook>
  <thead>
  <tr data-hook="admin_refund_products_index_headers">
    <th><%= t(:created_at) %></th>
    <th>Refund Number</th>
    <th>Order Number</th>
    <th>Amount</th>
    <th>Status</th>




    <th data-hook="admin_purchase_orders_index_header_actions"></th>
  </tr>
  </thead>
  <tbody>
  <% @refund_products.each do |refund_product| %>
      <tr id="<%= spree_dom_id refund_product %>" data-hook="admin_purchase_orders_index_rows">
        <td><%= (refund_product.created_at).to_s(:date_time24) %></td>
        <td><%= link_to refund_product.number, admin_refund_product_path(refund_product) %></td>
        <td><%= link_to refund_product.order.number, admin_order_path(refund_product.order) %></td>
        <td><%= refund_product.amount %></td>
        <td><%= refund_product.state %></td>


        <td class='actions' data-hook="admin_purchase_orders_index_row_actions">
          <%= link_to_edit_url admin_refund_product_path(refund_product), :title => "admin_edit_#{dom_id(refund_product)}" %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>