<div id="content">
  <div id="body_content">
    <div class="top-box-960"></div>
    <div class="title-960">
      <h1><%= accurate_title %></h1>
    </div>
    <div class="content-960">
      <div id="order">
        <% if params.has_key? :checkout_complete %>
            <h3><%= t('thank_you_for_your_order') %></h3>
        <% end %>
        <%= render :partial => 'spree/shared/order_details', :locals => {:order => @order} %>
        <p style="text-align: right;">
          <%= link_to t('back_to_store'), root_path, :class => "button" %>
          <% unless params.has_key? :checkout_complete %>
              <% if current_user %>
                  <%= link_to t('my_account'), account_path, :class => "button" %>
              <% end %>
          <% end %>
        </p>
      </div>
    </div>
    <div class="footer-960"></div>
  </div>
</div>