<table style="table-layout:fixed;" class="index" id="listing_orders" data-hook>
  <thead>
  <tr data-hook="admin_orders_index_headers">
    <th width="60">Season</th>
    <th width="150">Team</th>
    <th width="30">Type</th>
    <th width="25">Size</th>
    <th width="130">Name</th>
    <th width="15">No</th>
    <th width="120">Patch</th>
    <th width="">Product Description</th>

  </tr>
  </thead>
  <tbody>
  <% shipment.order.inventory_units.where(:state => "sold").order('shipment_id DESC').each do |item| %>
      <tr data-hook="admin_orders_index_rows">
        <td><%= item.season %></td>
        <td><%= truncate(item.team.to_s, :length => 25) %></td>
        <td><%= item.shirt_type %></td>
        <td><%= item.size %></td>
        <td><%= item.name %></td>
        <td><%= item.number %></td>
        <td><%= truncate(item.patch.to_s, :length => 23) %></td>
        <td><%= item.sleeve %><%= truncate(item.variant.product.name, :length => 100, :omission => "...") %></td>

      </tr>
  <% end %>
  </tbody>
</table>
