<script type="text/javascript">

    $(document).ready(function () {
        $("#location_country").bind('keyup', function (e) {
            if (e.which >= 97 && e.which <= 122) {
                var newKey = e.which - 32;
                // I have tried setting those
                e.keyCode = newKey;
                e.charCode = newKey;
            }
            $("#location_country").val(($("#location_country").val()).toUpperCase());
        });


    });
</script>

<table>
  <tr>
    <td><label><%= t("name") %></label></td>
    <td><%= text_field :location, :name, {"style" => "width:300px"} %></td>
  </tr>
  <tr>
    <td><label><%= t("location_conuntry") %></label></td>
    <td><%= text_field :location, :country, {"style" => "width:200px"} %> ** Country Code</td>
  </tr>
  <tr>
    <td><label><%= t("paypal_account") %></label></td>
    <td>
      <%= collection_select(:location, :payment_method_id, Spree::PaymentMethod.order(:name), :id, :name, include_blank: false, :html => {:style => "width:200px"} ) %>
    </td>
  </tr>

</table>
