<% content_for :sidebar do %>
    <div id="order_tab_summary" data-hook>
      <h3 id="order_number" data-hook><%= t(:PO) %> #<%= @purchase_order.number %></h3>
      <h5 id="order_status" data-hook><%= t(:status) %>: <%= t(@purchase_order.state, :scope => :order_state) %></h5>


      <br class="clear"/>
    </div>
    <br class="clear"/>

    <ul class="sidebar" data-hook="admin_order_tabs">

      <li<%== ' class="active"' if current == 'Purchase Order Details' %>>
        <%= link_to t(:purchase_order_details), edit_admin_purchase_order_url(@purchase_order) %>
      </li>



    </ul>

<% end %>