<!doctype html>


<head>

  <%= render :partial => 'spree/theme/shop1/head' %>

</head>

<body>


<div id="heading">

  <div class="currency_estimator">

    <span>
    <%= link_to "EUR", currency_path(:eur) %>
    <%= link_to "USD", currency_path(:usd) %>
    <%= link_to "GBP", currency_path(:gbp) %>
        </span>
    <span>Currency Estimator : </span>
  </div>

  <div class="sign_in">
    <%= render 'spree/theme/shop1/sign_in' %>
  </div>

  <div class="logo"><a href="#"><img src="/assets/shop1/logo.png" alt="logo" width="230" height="230" border="0"/></a>
  </div>

  <div class="quick_search">

    <div class="quick_search2">


      <div>
        <div class="quick-search-forms1">
          <%= render 'spree/theme/shop1/search' %>
        </div>

      </div>

    </div>

  </div>

  <div class="shopping-cart">
    <%= render 'spree/theme/shop1/cart_sidebar' %>
  </div>



</div>

<div id="menu_main">
  <ul class="space_menu">
    <li><a href="/" title="HOME">HOME</a></li>
    <li><img class="space_menu2" src="/assets/shop1/line-menu-main.png" width="4" height="35"/></li>
    <li><a href="/legal-info" title="TERMS&amp;CONDITIONS">TERMS & CONDITIONS</a></li>
    <li><img class="space_menu2" src="/assets/shop1/line-menu-main.png" width="4" height="35"/></li>
    <li><a href="/shipping-and-return" title="SHIPPING&amp;RETURN">SHIPPING & RETURN</a></li>
    <li><img class="space_menu2" src="/assets/shop1/line-menu-main.png" width="4" height="35"/></li>
    <li><a href="/faq" title="FAQs">FAQs</a></li>
    <li><img class="space_menu2" src="/assets/shop1/line-menu-main.png" width="4" height="35"/></li>
    <li><a href="/about-us" title="ABOUT US">ABOUT US</a></li>

    <li><img class="space_menu2" src="/assets/shop1/line-menu-main.png" width="4" height="35"/></li>
    <li><a href="/contact" title="CONTACT US">CONTACT US</a></li>
  </ul>
</div>

<% if flash.notice %>
    <div class="flash notice"><%= flash.notice %></div>
<% end %>
<% if flash[:error] %>
    <div class="flash errors"><%= flash[:error] %></div>
<% end %>

<%= yield %>


<%= render :partial => 'spree/theme/shop1/footer' %>



</body>
</html>
