<% content_for :sidebar do %>

    <% if @current_store.nil? %>
        <% if "products" == @current_controller && @taxon %>
            <%= render "spree/shared/filters" %>
        <% else %>
            <%= render "spree/shared/taxonomies" %>
        <% end %>
    <% else %>
        <%= render "spree/shared/taxonomies" %>
    <% end %>

<% end %>


<% if params[:keywords] %>


    <% if @products.empty? %>
        <% unless @current_store.nil? %>
            <div id="content">
              <%= render "spree/theme/#{@current_store.code}/sidebar_left" %>
              <%= render "spree/theme/#{@current_store.code}/banner" %>
            </div>
            <div id="content">
              <%= render "spree/theme/#{@current_store.code}/no_products_search" %>
            </div>
        <% else %>
            <%= t(:no_products_found) %>
        <% end %>
    <% else %>
        <% unless @current_store.nil? %>
            <div id="content">
              <%= render "spree/theme/#{@current_store.code}/sidebar_left" %>
              <%= render "spree/theme/#{@current_store.code}/banner" %>
            </div>
            <div id="content">
              <%= render "spree/theme/#{@current_store.code}/products_search", :products => @products, :taxon => @taxon %>
            </div>
        <% else %>
            <%= render "spree/shared/products", :products => @products, :taxon => @taxon %>
        <% end %>
    <% end %>


<% else %>


    <% unless @current_store.nil? %>
        <div id="content">
          <%= render "spree/theme/#{@current_store.code}/sidebar_left" %>
          <%= render "spree/theme/#{@current_store.code}/banner" %>
        </div>
        <div id="content">


          <%= render "spree/theme/shop1/best_seller" %>

          <div class="content_box2">
            <img width="176" height="38" src="/assets/shop1/latest-products.png" class="space_bottom_top">
            <img width="691" height="1" src="/assets/shop1/line-latest-products.png" class="space_bottom_top2">
            <%= render "spree/theme/#{@current_store.code}/products", :products => @products, :taxon => @taxon %>
          </div>

        </div>
    <% else %>
        <%= render "spree/shared/products", :products => @products, :taxon => @taxon %>
    <% end %>



<% end %>

