<% content_for :sidebar do %>

    <% if @current_store.nil? %>
        <% if "products" == @current_controller && @taxon %>
            <%= render "spree/shared/filters" %>
        <% else %>
            <%= render "spree/shared/taxonomies" %>
        <% end %>
    <% else %>
        <%= render "spree/shared/taxonomies" %>
    <% end %>

<% end %>


<% if params[:keywords] %>


    <% if @products.empty? %>
        <% unless @current_store.nil? %>
            <div id="content">
              <%= render "spree/theme/#{@current_store.code}/sidebar_left" %>
              <%= render "spree/theme/#{@current_store.code}/banner" %>
            </div>
            <div id="content">
              <%= render "spree/theme/#{@current_store.code}/no_products_search" %>
            </div>
        <% else %>
            <%= t(:no_products_found) %>
        <% end %>
    <% else %>
        <% unless @current_store.nil? %>
            <div id="content">
              <%= render "spree/theme/#{@current_store.code}/sidebar_left" %>
              <%= render "spree/theme/#{@current_store.code}/banner" %>
            </div>
            <div id="content">
              <%= render "spree/theme/#{@current_store.code}/products_search", :products => @products, :taxon => @taxon %>
            </div>
        <% else %>
            <%= render "spree/shared/products", :products => @products, :taxon => @taxon %>
        <% end %>
    <% end %>


<% else %>


    <% unless @current_store.nil? %>

            <%= render "spree/theme/#{@current_store.code}/products", :products => @products, :taxon => @taxon %>

    <% else %>
        <%= render "spree/shared/products", :products => @products, :taxon => @taxon %>
    <% end %>



<% end %>

